name: encrypt and decrypt

on: [ push ]

jobs:
  decrypt:
    runs-on: ubuntu-20.04
    env :
      PASSPHRASE: ${{ secrets.PASSPHRASE }}
    steps:
      - uses: actions/checkout@v1
      - name: Decrypt file
        run : gpg --quiet --batch --yes --decrypt --passphrase=PASSPHRASE --output $HOME/secret.json secret.json.gpg

      - name: Print out file content
        run: cat $HOME/secret.json
